#divLoginPage {
  position: relative;
}

#loginPage {
  background-image: url("https://www.smilegate.com/uploadfile/game/37/file_visual_20181119105939.png");
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
}

.custom-shape-divider-bottom-1634800167 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1634800167 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 131px;
}

.custom-shape-divider-bottom-1634800167 .shape-fill {
  fill: #ffffff;
}
