#divLoginPage {
  position: relative;
}

#loginPage {
  background-image: url("https://d3kxs6kpbh59hp.cloudfront.net/community/COMMUNITY/9f1a6fa224d1416abe0115f6de655fe0/19014a3528474fc5bed673c41be838ab_1541746256.jpg");
  background-size: cover;
  max-height: 100%;
  max-width: 100%;
}

.custom-shape-divider-bottom-1634800167 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1634800167 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 131px;
}

.custom-shape-divider-bottom-1634800167 .shape-fill {
  fill: #ffffff;
}
