@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap');

#mobileSettingsAndPagination {
  width: 100%;
  margin: 0px;
  text-align: center;
  background-color: #384862;
  padding: 0px;
}

#settingButtonPart {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  margin-bottom: 10px;
}

#mobileHomeworkSegment {
  background-color: dimgray;
  margin-top: 0px;
  font-size: 10px;
  color: white;
  text-align: center;
}

#mobileHomeworkSegment .mobileCharacterListRow {
  padding-bottom: 0px !important;
}

#mobileHomeworkSegment .characterListNoteRow {
  border-bottom: 0.05rem inset ivory;
  padding: 0 0 7px 0;
  padding-bottom: 7px;
}

#mobileHomeworkSegment .eachRow {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

#mobileHomeworkSegment .eachRow:hover {
  background-color: #148f77;
}
