#itemList {
  list-style: none;
  display: block;
}

#itemList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0px;
  padding-right: 13px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.noselect.selectedItemSegment {
  height: 100px;
  overflow-y: auto;
}

.noselect.itemListSegment {
  background-color: #a3e4d7;
  height: 550px;
  overflow-y: auto;
}
