@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&display=swap");

#settingsAndPagination {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0 auto;
  background-color: #384862;
  border: none;
}

#homeworkSegment {
  width: 95%;
  margin: 0 auto;
  background-color: dimgray;
  color: white;
  border: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  padding-bottom: 20px !important;
}

#homeworkSegment .characterListRow {
  border-bottom: 0.05rem inset ivory;
}

#homeworkSegment .characterListNoteRow {
  border-bottom: 0.05rem inset ivory;
  padding-bottom: 7px;
}

#homeworkSegment .eachRow {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}

#homeworkSegment .eachRow:hover {
  background-color: #148f77;
}

.contentImage {
  height: 24px !important;
  width: 24px !important;
}

div.pagination {
  border-bottom: none !important;
}

div.pagination a {
  color: white !important;
}

div.pagination a.active {
  color: #ff695e !important;
  border-bottom-width: 2px !important;
  border-bottom-color: #ff695e !important;
}
