:root {
  --white-color: white;
}

.lineGraph {
  height: 100% !important;
}

.fullPage .dashboardHeader {
  color: var(--white-color);
}

#dashboardPage {
  border-radius: 0px;
  background-image: url("https://coolbackgrounds.io/images/backgrounds/black/black-trianglify-b6181ec2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1900px) {
  #dashboardPage {
    height: 94vh;
  }
}

.lineGraphAreaColumn {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barGraphAreaColumn {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lineGraphArea {
  width: 90%;
  height: 100%;
  background-color: var(--white-color);
}

.barGraphAreaColumn {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barGraph {
  background-color: var(--white-color);
  height: 100% !important;
}
